
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}



 .active{
  text-decoration: underline;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#2563EB;
  --color-secondary: teal;
}
 @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary:#2563EB;
  --color-secondary: teal;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.custom-modal-box {
  width: 90%;
  max-width: 1000px;
}
