
@import "tailwindcss";
@plugin "daisyui";



 .active{
  text-decoration: underline;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}
